@model PersonalSite1.UI.MVC.Models.ContactViewModel


<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Eric Faith</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <div class="row">
                    <div>
                        <a href="https://github.com/Efaith33" target="_blank"><i class="fa fa-github fs-2 mb-3 p-2"></i></a>
                        <a href="https://www.linkedin.com/in/eric-faith-23b352229/" target="_blank"><i class="fa fa-linkedin fs-2 mb-3"></i></a>
                    </div>
                </div>
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#about">Resume</a></li>
                    <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
                    <li class="nav-item"><a class="nav-link" href="#classmates">Classmates</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end pb-5 m-12">
                    <h1 class="text-black font-weight-bold pb-5">About Me</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 pt-4 align-self-baseline">
                    <p class="aboutme">
                        I attended the Full Stack Web Development Program  at Centriq IT in St. Louis, Missouri. Having come from Central Illinois, his background is in Industry jobs such as Factory, Railroad and UPS where he was able to hone in on his customer service skills, technical cpu/program use, teamwork,and  project management with  multiple teams to complete a task. Eric’s learning style is hands on, with an acute attention to detail. He is able to think critically and intuitively to find an unorthodox solution to a common problem. For Eric, the most exciting part of deciding to go back to school was the opportunity to learn and master something new. In his free time, Eric enjoys traveling to new destinations, live music with close friends, and miles of open road on a Harley Davidson. He looks forward to all of the projects that this new path will bring him.
                    </p>

                </div>
            </div>
        </div>
    </header>
    <!-- About-->

    <div class="item" id="quote" data-aos="zoom-in" data-aos-duration="3000">
        "I am not bound to win,<br />but I am bound to be true,<br />I am not bound to succeed,<br />but I am bound to live,<br />by the light that I have!"<br />A.Lincoln
    </div>
    <section class="page-section bg-primary" id="about">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 text-center">
                <img src="~/Content/assets/img/portfolio/fullsize/Selfie.jpg" height="400" style="border-radius: 10px" />
            </div>
            <div class="col-md-8">
                <div class="col-md-4 offset-4 mt-0">
                    <h2 class="resume">Resume</h2>
                    <hr class="divider divider-light" />
                    <p class="text-white-75 mb-4"></p>
                    <div class="pdfbutton">
                        <a class="btn btn-light btn-xl" href="~/Content/assets/Resume IT.pdf" target="_blank">PDF</a>
                    </div>
                </div>
                <!--Accordian-->
                <div class="col-md-12 mt-5" data-aos="fade-left" data-aos-duration="2000">
                    <div class="col-md-8 accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item1">
                            <h2 class="accordion-header" id=" flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Personal Info
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <ul>
                                        <li>weibleyeric@yahoo.com</li>
                                        <li>Eric-Faith.net</li>
                                        <li>LinkedIn: Eric Faith</li>
                                    </ul>
                                    <h5>Full Stack Developer</h5>
                                    <ul>
                                        <li>.NET Framework</li>
                                        <li>Full Stack Web Application Design</li>
                                        <li> C# Fundamentals</li>
                                        <li>Database Management	Unit Testing</li>
                                        <li>Continued Growth in IT Knowledge</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item2">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    Technical and Professional Skills
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <ul>
                                        <li><b>Front End:</b>  HTML5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Development, Framework, Bootstrap, ReactJS</li>
                                        <li>
                                            <b>Middle Tier:</b>  C#.NET, ASP.NET, LINQ, MVC, ASP.NET Web API
                                        </li>
                                        <li>
                                            <b>Back End:</b>  ADO.NET, SQL, SQL Server
                                        </li>
                                        <li>
                                            <b>Tools:</b>  Visual Studio, Visual Studio Code, SSMS
                                        </li>
                                        <li><b>Professional Skills:</b> Troubleshooting, Critical Thinking, Communication, Project Management Fundamentals, Teamwork, Pair Programming</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item3">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    Independent Development Projects
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <ul>
                                        <li><b>Portfolio site:</b> eric-faith.net</li>
                                        <li><b>Small Business Project:</b> Fictional small business site that offers instructional courses. Business and courses created by my personal experience of going back to school. Site was coded in VS, using HTML, CSS and Front-End Development.</li>
                                        <li><b>Console Game Application:</b> C# Fundamental console game built with linear progression of a character through rooms that faces a challenge to complete.</li>
                                        <li><b>StoreFront:</b>  Created a secure application for managing product data. Application is built to simulate an online store front with a shopping cart. Administrators have the ability to manage product, category and vendor data.</li>
                                        <li><b>S.A.T. Scheduling Administration Tool:</b> Created a secure application for managing product data. Application is built to simulate an online class scheduling system.  Administrators will have the ability to manage students, courses, scheduled classes, and enrollments.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item4">
                            <h2 class="accordion-header" id="flush-headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Technical Training
                                </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <span>
                                        <b>Centriq IT Training:</b><br />
                                        Full Stack Web Developer Program<br />
                                        Centriq IT Training (Remote)<br />
                                        St. Louis, MO<br />
                                    </span>
                                    <b>Core Competencies:</b>
                                    <ul>
                                        <li>MVC Framework</li>
                                        <li>Trouble Shooting & Debugging</li>
                                        <li>Source Control</li>
                                        <li>Agile/Scrum (Created Team Project)
                                        <li>Website Deployment</li>
                                        <li>Pair Programming</li>
                                        <li>Full Stack Development</li>
                                        <li>Code Review</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item5">
                            <h2 class="accordion-header" id="flush-headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Work Experience
                                </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <h5>
                                        Delivery Driver, UPS
                                        <br />
                                        Belleville, IL 	&nbsp 10/2020-10/2021
                                    </h5>
                                    <ul>
                                        <li>Delivery driver of commercial and residential merchandise.</li>
                                        <li>Developed skills to personally provide a service and interact with 100s of customers daily.</li>
                                        -Both delivering and picking up packages
                                        <li>Boosted customer satisfaction by improving communication and following through on promised delivery times; tracked and reported undelivered or damaged items.</li>
                                        <li>Developed the ability to learn, use and apply logical thinking into a task to provide overall efficiency and accuracy to a customer and a company.</li>
                                    </ul>

                                    <h5>
                                        Laborer, BNSF
                                        <br />
                                        Ft. Worth, TX &nbsp 03/2012-10/2020
                                    </h5>

                                    <ul>
                                        <li>Assisted in the building, maintaining and repair of railroad tracks across 28 states.</li>
                                        -Operation of heavy equipment, manually or computer program ran.
                                        <li>Continuously learned and developed new skills to further my qualifications.</li>
                                        <li>Created worksite safety and leadership of multiple team projects.</li>
                                        <li>Developed abilities to document, communicate and exchange ideas as an individual or as a group         working on a particular job.</li>
                                        <li>Assisted in projects of little or no direct oversite.</li>
                                    </ul>
                                    <h5>
                                        General Warehouse, Walgreens D.C
                                        <br />
                                        Mt. Vernon, IL &nbsp 04/2006-03/2012
                                    </h5>
                                    <ul>
                                        <li>Assisted the handling of product in a rate driven and time sensitive environment.</li>
                                        -Product including hi-value merchandise and pharmaceutical.
                                        <li>Implemented Logistical Management and Inventory Control.</li>
                                        <li>Learned and used a RF Scan System to track movement of product.</li>
                                        <li>Responsibilities included:</li>
                                        - Receiving, handling, stock and replenish product throughout the warehouse for                          outbound delivery to stores.

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Links-->
    <section class="page-section" id="services">
        <div class="container">
            <h2 class="text-center">Links</h2>
            <hr class="divider" />
        </div>
    </section>
    <!-- Portfolio-->
    <div id="portfolio" data-aos="flip-up" data-aos-duration="2000">
        <div class="container-fluid">
            <div class="row col-md-12">
                <div class="col-md-3 p-2 text-center">
                    <div class="col-md-10">
                        <div class="mb-2">
                            <a href="http://fed1studioproject.eric-faith.net" target="_blank" title="Higher Learning"><i class="bi-gem fs-1 text-primary">Static Website</i></a>
                        </div>
                        <a class="active" href="http://fed1studioproject.eric-faith.net" target="_blank" title="Higher Learning">
                            <img class="img-fluid" src="~/Content/assets/img/portfolio/fullsize/edulogo.png" alt="education globe" />
                        </a>
                        <p class="text-muted mt-3">Fictional small business site that offers instructional courses. I built this site hard-coded using HTML, CSS and Front-End Development in Visual Studios. This site is a representation of myself and furthering my education.  You can browse my static website by clicking the image below. </p>
                    </div>
                </div>
                <div class="col-md-3 p-2 text-center">
                    <div class="col-md-10">
                        <div class="mb-2">
                            <a href="https://github.com/Efaith33/DungeonApp2" target="_blank" title="The Riddler"><i class="bi-laptop fs-1 text-primary">Dungeon Application</i></a>
                        </div>
                    </div>
                    <a href="https://github.com/Efaith33/DungeonApp2" target="_blank" title="The Riddler">
                        <img class="img-fluid" src="~/Content/assets/img/portfolio/fullsize/Capture5.PNG" style="max-height:200px" alt="riddler logo" />
                    </a>
                    <p class="text-muted mt-3">This is a Console Game Application I built using C# Fundamentals and designed with Linear Progression in Visual Studios. The application is made up of a player that must face a challenge to beat, in order to proceed throughout the game or onto the next room. Click the image below for my Github repository.</p>
                </div>
                <div class="col-md-3 p-2 text-center">
                    <div class="mb-2">
                        <a href="http://StoreFront.eric-faith.net" target="_blank" title="Space Labs Inc"><i class="bi-globe fs-1 text-primary">StoreFront Application</i></a>
                    </div>
                    <a href="http://StoreFront.eric-faith.net" target="_blank" title="Space Labs Inc">
                        <img class="img-fluid" src="~/Content/assets/img/portfolio/fullsize/Capture2.PNG" style="max-height:200px" alt="space ship" />
                    </a>
                    <p class="text-muted mt-3">This is another small business project. Fictional site simulation based on an online store, the theme I used was Space Tech. I used my knowledge of Data, DateSchema, Tables, and SQL Server Management to build this site. Click the image below to see more of my StoreFront site.</p>
                </div>
                <div class="col-md-3 p-2 text-center">
                    <div class="mb-2">
                        <a href="http://todo.eric-faith.net" target="_blank" title="React ToDo "><i class="bi-globe fs-1 text-primary">React Application</i></a>
                    </div>
                    <a class="active" href="http://todo.eric-faith.net" target="_blank" title="React ToDo App">
                        <img class="img-fluid" src="~/Content/assets/img/portfolio/fullsize/Capture3.PNG" alt="react login" />
                        <p class="text-muted mt-3">React application built using Visual Studio Code and my .NET Web API. This project is built with full CRUD functionality. I utilized this application to show a Todo List I made for items I need to attend to.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="portfolio" data-aos="flip-up" data-aos-duration="2000">
        <div class="container-fluid">
            <div class="row col-md-12 m-4 px-2">
                <div class="col-md-4 p-2 text-center">
                    <div class="col-md-10">
                        <div class="mb-2">
                            <a href="http://todoapi.eric-faith.net" target="_blank" title="ToDo ASP.NET"><i class="bi-laptop fs-1 text-primary">ASP.NET Application</i></a>
                        </div>
                        <a href="http://todoapi.eric-faith.net" target="_blank" title="Todo ASP.NET">
                            <img class="img-fluid" src="~/Content/assets/img/portfolio/fullsize/Capture4.PNG" style="max-height:200px" alt="ASP.Net" />
                        </a>
                        <p class="text-muted mt-3">ASP.NET Web API Application. Built using Visual Studio and Visual Studio Code for my React Application</p>
                    </div>
                </div>
                <div class="col-md-4 p-2 text-center">
                    <div class="mb-2">
                        <a href="http://sat.eric-faith.net" target="_blank" title="SAT Paired Project"><i class="bi-gem fs-1 text-primary">SAT Paired<br/> Project</i></a>
                    </div>
                    <a href="http://sat.eric-faith.net" target="_blank" title="SAT Paired Project">
                        <img class="img-fluid" src="~/Content/assets/img/portfolio/fullsize/Capture10.PNG" style="max-height:200px" alt="SAT Site"/>
                    </a>
                    <p class="text-muted mt-3">This is a full stack paired project a classmate and I built. Scott Cashion built this site on a fictional university that has full CRUD functionality for students, courses, classes, Enrollment, and Student Status</p>
                </div>
                <div class="col-md-4 p-2 text-center">
                    <div class="mb-2">
                        <a href="http://StoreFront.eric-faith.net" target="_blank" title="BethBorger"><i class="bi-globe fs-1 text-primary">Class Project<br/>Beth Boerger</i></a>
                    </div>
                    <a href="#" target="_blank" title="Space Labs Inc">
                        <img class="img-fluid" src="~/Content/assets/img/portfolio/fullsize/BethBoergerLogo.jpg" style="max-height:200px" alt="Beth Boerger" />
                    </a>
                    <p class="text-muted mt-3">Class project that was built for a real life client, Beth Boerger. She is running for CS-1 School Board District out of Kansas City.</p>
                </div>
            </div>
        </div>
    </div>

    <section class="page-section" id="classmates">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">Classmates</h2>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="personalphoto">
                            <img src="~/Content/assets/img/portfolio/thumbnails/DonCentriq.jpg" height="225" />
                        </div>
                        <h3 class="h4 mb-2">Don Richardson</h3>
                        <p class="text-muted mb-0">Training to be a Full Stack Web Developer. Experienced with HTML, CSS, C#, SQL, SSMS, Visual Studio, and JavaScript. Bachelor's degree focused in Film & Media Studies from University of Kansas. <br /></p>
                        <a href="http://don-richardson.com" target="_blank"><i class="fa fa-link" title="Dons Portfolio Site"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="personalphoto"></div>
                        <img src="~/Content/assets/img/portfolio/thumbnails/AndrewAllen.jpg" height="225" />
                        <h3 class="h4 mb-2">Andrew Allen</h3>
                        <p class="text-muted mb-0">The Application/Web Developer (or Coding) training is based primarily on Microsoft’s enterprise .NET C# (Visual Studio) development platform which is utilized by a vast majority of Kansas City employers.<br /></p>
                        <a href="http://double-a-dev.com" target="_blank"><i class="fa fa-link" title="Andrews Portfolio Site"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="personalphoto"></div>
                        <img src="~/Content/assets/img/portfolio/thumbnails/Janet 3.jpg" height="225" />
                        <h3 class="h4 mb-2">Janet Lester</h3>
                        <p class="text-muted mb-0">I have had a career as a Mainframe developer for over 20 years, I decided to resign and pursue this training to pursue the goal of enhancing my IT skills by learning the web side of development.</p>
                        <a href="http://jlester-dev.net" target="_blank"><i class="fa fa-link" title="Janets Portfolio Site"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="personalphoto">
                            <img src="~/Content/assets/img/portfolio/thumbnails/JasonCentriq.jpg" height="225" />
                        </div>
                        <h3 class="h4 mb-2">Jason Colobong</h3>
                        <p class="text-muted mb-0">Current student of Centriq's Full Stack Web Developer program. Experience with C#, JavaScript, T-SQL, SaaS, Bootstrap, JQUERY, HTML, CSS, AWS, Microsoft Azure, Tableau, Microsoft Power BI. </p>
                        <a href="http://jason.colobong.com" target="_blank"><i class="fa fa-link" title="Jasons Portfolio Site"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="personalphoto">
                            <img src="~/Content/assets/img/portfolio/thumbnails/joemcquire.jpg" height="225" />
                        </div>
                        <h3 class="h4 mb-2">Joe Mcquire</h3>
                        <p class="text-muted mb-0">Producer, Band Leader, Song writer, Vocalist, Multi-Instrumentalist, DJ, Curator, Event Producer, Talent Scout, and Music Community leader most notably with his work within the San Francisco and Bay area.</p>
                        <a href="http://joemcguire-design.com/ong.com" target="_blank"><i class="fa fa-link" title="Joes Portfolio Site"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="personalphoto"></div>
                        <img src="~/Content/assets/img/portfolio/thumbnails/HeadshotEdit.jpg" height="225" />
                        <h3 class="h4 mb-2">Joshua Foley</h3>
                        <p class="text-muted mb-0">Up and Coming Developer with a passion for the Backend and Data Mangagement. Turning a hobby into a career that leads to a brighter tomorrow. <br /></p>
                        <a href="http://Joshua-Foley.com" target="_blank"><i class="fa fa-link" title="Joshs Portfolio Site"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="personalphoto"></div>
                        <img src="~/Content/assets/img/portfolio/thumbnails/profilepic.jpg" height="225" />
                        <h3 class="h4 mb-2">Scott Cashion</h3>
                        <p class="text-muted mb-0">Full Stack Web Developer training primarily on Microsoft's enterprise .Net C# (Visual Studio development platform.</p>
                        <a href="http://scott-cashion.com" target="_blank"><i class="fa fa-link" title="Scotts Portfolio Site"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="personalphoto">
                            <img src="~/Content/assets/img/portfolio/thumbnails/AbbeyCentriq.jpg" height="225" />
                        </div>
                        <h3 class="h4 mb-2">Abbey Outain</h3>
                        <p class="text-muted mb-0">I’m Abbey Outain, a full stack web developer.  I think my portfolio shows my passion for both creativity and logic, particularly my Dungeon App project which uses C#. </p>
                        <a href="http://abbey-outain.com" target="_blank"><i class="fa fa-link" title="Abbeys Portfolio Site"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <aside class="personalphoto">
                            <img src="~/Content/assets/img/portfolio/thumbnails/patrickstephen.jpg" height="225" />
                        </aside>
                        <h3 class="h4 mb-2">Patrick Stephen</h3>
                        <p class="text-muted mb-0">My name is Patrick Stephen. I am 27 years old and found a passion in computers a few years back when I started building my first PC.  I am looking forward to the future and what I can make of myself in the IT field! </p>
                        <a href="http://patrick.stephen.com" target="_blank"><i class="fa fa-link" title="Patricks Portfolio Site"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="contact-title">Let's Get In Touch!</h2>
                    <hr class="divider" />
                    <p class="text-muted mb-5">Ready to start your next project? Send me a messages and I will get back to you as soon as possible!</p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">

                <div class="col-lg-8 col-xl-6 text-center">
                    <div id="contactForm">
                        @Html.Partial("ContactAjax", new PersonalSite1.UI.MVC.Models.ContactViewModel())
                    </div>
                    <div id="contactConfirm">
                        @Html.Partial("EmailConfirm", new PersonalSite1.UI.MVC.Models.ContactViewModel())
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Footer-->
    <footer class="bg-light py-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-4 text-center mb-5 mb-lg-0">
                <a href="https://github.com/Efaith33" target="_blank"><i class="fa fa-github fs-2 mb-3 p-2"></i></a>
                <a href="https://www.linkedin.com/in/eric-faith-23b352229/" target="_blank"><i class="fa fa-linkedin fs-2 mb-3"></i></a>
            </div>
            <div class="container px-4 px-lg-5">
                <div class="copyright">Copyright &copy; @DateTime.Now.Year - Eric Faith</div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/Content/js/scripts.js"></script>

</body>

